body{
  background-color: var(--bkg-1);
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
 width: 340px;
  display: grid;
  border-radius: .75rem;
  background-color: var(--neutral-color3);
}

@media  (min-width: 1440px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}

.card__img {
  border-radius: .75rem .75rem 0 0;
}

.product {
  padding: 1.25rem;
}

.product__cat,
.product__desc,
.product__price {
  font-family: var(--font1);
  font-size: var(--font-M);
  line-height: 1.75;
  color: var(--neutral-color2);
}

.product__cat{
  text-transform: uppercase;
  font-size: var(--font-S);
  letter-spacing: .25rem;
  margin-bottom: .5rem;
}

.product__name {
  font-family: var(--font2);
  font-size: 2rem;
  line-height: 1;
  margin-bottom: .75rem;
}

.product__desc {
  margin-bottom: 1rem;
}

.product__price {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: .5rem;
}

.price--value{
  margin-right: 10px;
  font-family: var(--font2);
  font-size: 32px;
  color: var(--primary-color1);
}

.price--discount{
  position: relative;
}

.price--discount::after{
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  background: var(--neutral-color2);
}

.bttn {
  outline: none;
  border: none;
  width: 100%;
  background-color: var(--primary-color1);
  border-radius: .5em;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-block: 1em;
  cursor: pointer;
  transition: 0.2s;
}
.bttn:hover{
  background-color: var(--primary-dark-color1);
} 

.bttn__click {
  font-family: var(--font1);
  font-size: var(--font-M);
  font-weight: 700;
  color: var(--neutral-color3);
}

.bttn__click::before{
  content: url('../images/icon-cart.svg');
  margin-right: 8px;
}

.attribution {
  display: none;
}